@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width:100%;
    height: 100%;
    background-color: #e8d5c4;
}

header nav {
    width: 100%;
    background-color: #ab5546;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.logo {
    display: inline-block;
}

.listaHeader {
    list-style: none;
    display: flex;
}

.nav-item a, .logoHeader p {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.nav-item:hover, .logoHeader:hover p {
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
}

.nav-item:hover a, .logoHeader:hover p {
    color: black;
}

.logoHeader img {
    width: 56px;
    vertical-align: middle;
}
#busquedaTiempo {
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    transition: all .2s ease;
}
#busquedaTiempo:focus {
    background: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}
#busquedaTiempo:hover {
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

#btnTiempo {
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #0070d2;
    border-radius: 0.25rem;
    border: 1px solid #0070d2;
    color: #fff;
    font-size: 13px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
}
#btnTiempo:hover {
    background-color: #005fb2;  
    border-color: #005fb2;
} 

.tablaEstilo {
    width: 95%;
    background: rgb(109, 173, 211);
    border-collapse: collapse;
    margin: 0 auto;
    border-style:solid;
    border-width: thin;
    border-color: #2c2e33;
}

.tablaEstilo td {
    text-align: center;
}

.weatherCardWrapper {
    background-color: #9EC4E0;
    border-style:solid;
    border-width: thin;
    border-color: #2c2e33;
    text-align: center;
}

.iconoWeatherCard {
    margin: 0 auto;
}

.temperaturaWeatherCard {
    font-family: 'Abel';
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#contenedorPantallaCarga {
    text-align: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    margin: 0 auto;
    height: 400px;
    width: 95%;
}

#tituloBusqueda {
    padding: 30px;
    text-align: center;
}

#tablaCapitales tr:hover{
    background-color: #9ec4e07c;
}

#tablaCapitales a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 35px;
    -webkit-text-stroke: 0.3px black;
    
}

.loader{
	-webkit-perspective:700px;
	perspective: 700px;
}

.loader>span{
	font-size: 130px;
	font-family: "franklin gothic medium",sans-serif;
	display: inline-block;
	animation:flip 2.6s infinite linear;
	transform-origin:0 70%;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
}

@keyframes flip{
	35%{
		transform: rotateX(360deg);
	}
	100%{
		transform: rotatex(360deg);
	}
}

.loader>span:nth-child(even){
	color:white;

}

.loader>span:nth-child(2){
	animation-delay: 0.3s;
}

.loader>span:nth-child(3){
	animation-delay: 0.6s;
}

.loader>span:nth-child(4){
	animation-delay: 0.9s;
}

.loader>span:nth-child(5){
	animation-delay: 1.2s;
}

.loader>span:nth-child(6){
	animation-delay: 1.5s
}

.loader>span:nth-child(7){
	animation-delay: 1.8s
}

.loader>span:nth-child(8){
	animation-delay: 2.1s
}